<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirbnbPlugin.Properties.Settings.AirBnbTestConnectionString"
            connectionString="Data Source=LAPTOP2\TESTSQL;Initial Catalog=AirBnbTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>